{{! The social media footer template }}

{{! Change the href attributes to your real accounts urls}}

<div id="socialmedia_willsong">
	<a href="http://twitter.com/billwscott" class="sociallink_willsong"><span class="icon-twitter"></span></a>
	<a href="http://www.linkedin.com/in/billwscott" class="sociallink_willsong"><span class="icon-linkedin"></span></a>
	<a href="http://plus.google.com/112944605091918762808/posts" class="sociallink_willsong"><span class="icon-google-plus"></span></a>
	<a href="https://github.com/billwscott" class="sociallink_willsong"><span class="icon-github"></span></a>
	<a href="https://flickr.com/thescottclan" class="sociallink_willsong"><span class="icon-flickr"></span></a>
	<a href="http://about.me/billwscott" class="sociallink_willsong"><span class="icon-user"></span></a>
	<a href="http://looksgoodworkswell.ghost.io/rss/" class="sociallink_willsong"><span class="icon-feed"></span></a>
</div>